<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<opt>
    <BsrArgs></BsrArgs>
    <BrsExe>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</BrsExe>
    <currentPlanName>default</currentPlanName>
    <MFF>1050680</MFF>
    <lastMdlibPath>D:\assets\mdicts</lastMdlibPath>
    <screenH>622</screenH>
    <screenW>1044</screenW>
    <screenX>807</screenX>
    <screenY>274</screenY>
    <topPercent>64.18772136953955</topPercent>
    <SrhUrl1>https://www.ldoceonline.com/dictionary/%s</SrhUrl1>
    <SrhUrl2>https://en.wiktionary.org/wiki/%s</SrhUrl2>
</opt>
